@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container1{
  background-image: url('../public/Assets/bg.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.custom-bg{
  background-color: rgba(19, 19, 29, 0.6);
}

.btn-bg-grn{
  background-color: rgba(0, 204, 102, 1);
  color: white;
}

.container3{
  background-color: rgba(244, 244, 244, 1);
  ;
}

.num{
  color: rgba(0, 204, 102, 1);
}

.name{
  color: rgba(65, 65, 65, 1);
}

.brand-heading{
  color: rgba(113, 117, 135, 1);
}

.box{
  width: 15vh;
  height: 10vh;
  background-color: rgba(217, 217, 217, 1);
}

.footer-text-grey{
  color: rgba(69, 69, 69, 1);
}

.college, .student, .compi{
  padding-left: 8vw;
  padding-right: 8vw;
}

.cust-text-8xl{
  font-size: 12vh;
  line-height: 1;
}

.cust-text-6xl{
  font-size: 10vh;
  line-height: 1;
}

.side-content{
  padding-left: 5vw;
  width: 40vw;
}
.side-content-host{
  width: 25vw;
}
.host{
  padding: 10vh;
}

.workshop{
  font-size: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.side-content-host2{
  width: 40vw;
}

.cust-text-xl{
  font-size: 2.5vh;
}

.cust-inp{
  background-color: rgba(249, 249, 249, 1);
  padding: 2vh 1.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
  width: -webkit-fill-available;

}

.cust-textarea{
  background-color: rgba(249, 249, 249, 1);
  padding: 2vh 1.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 1vh;
  width: -webkit-fill-available;
}
.outer-form{
  width: 32vw;
}


.video-card{
  /* width: 40vw; */
  /* height: 40vh; */
}

.numb{
  font-size: 5vh;
}

.content{
  padding-left: 1vw;
}

.cont-head{
  font-size: 4vh;
}


.bx2{
  color: rgba(210, 210, 210, 1) ;
}

.cust-text-4xl{
  font-size: 6vh;
}

.cust-p{
  font-size: 2.7vh;
  padding: 2vh 3vh;
}

@media only screen and (max-width: 1024px) {
  .cust-text-6xl{
    font-size: 6vh;
  }

  .cust-w{
    width: 12vw;
  }
  
  .video-card{
    padding: 5vh;
  }

  .cont-head{
    font-size: 3vh;
  }
  .cont-body{
    font-size: 2vh;
  }
  .numb{
    font-size: 3vh;
  }
  
}

@media only screen and (max-width: 768px) {
  .container1{
    height: auto;
    padding-bottom: 5vh;
  }
  .container2{
    padding-left: 8vh;
    padding-right: 8vh;
  }
  
  .menu{
    font-size: 1.5vw;
  }
  .cust-text-6xl{
    font-size: 6vh;
  }
  .cust-w{
    width: 12vw;
  }
  .logo{
    width: 18vw;
  }

  .number{
    flex-direction: column;
  }
  .college{
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .cust-text-4xl{
    font-size: 4vh;
  }
  .cust-text-xl{
    font-size: 2vh;
  }
}

@media only screen and (max-width: 426px) {
  .workshop{
    font-size: 2vh;

  }
  .side-content-host{
    width: 40vw;
  }
  .side-content-host2{
    width: 70vw;
  }
  .outer-form{
    width: 70vw;
  }
  .logo{
    width: 40vw;
  }
  .cust-text-8xl{
    font-size: 8vh;
  }
  .cust-text-4xl{
    font-size: 3vh;
  }
  .cust-text-xl{
    font-size: 1.8vh;
  }
  .mob-cont{
    flex-direction: column;
  }
  .video-card{
    width: 60vw;
  }
  .container2{
    padding: 0;
  }
  .side-content{
    width: 60vw;
  }
  .cust-p{
    font-size: 2vh;
    padding: 1vh 2vh;
  }
  .cust-w{
    width: 30vw;
  }
  .ind{
    padding-top: 5vh;
  }
  .cont-head{
    font-size: 3vh;
  }
  .cont-body{
    font-size: 2vh;
  } 
  .cust-text-2xl{
    font-size: 3vh;
  }

  .faq{
    padding: 5vh;
  }
  .list{
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .acc{
    font-size: 2vh;
  }
  .cnt1{
    flex-direction: column;
  }
  .followtext{
    text-align: center;
  }
  .social_media{
    justify-content: center;
    padding-bottom: 5vh;
  }
  .logos{
    display: flex;
    justify-content: center;
  }
  .play{
    justify-content: center;
  }
  .bx1,.bx2{
    flex-direction: column;
  }
  .hm{
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}



.slider {
  height: 60px;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
}
.slider::before,
.slider::after{
  position:absolute;
  background-image:linear-gradient(to right,rgba(244, 244, 244, 1) 0%,rgba(255,255,255,0) 100%);
  content:'';
  height:100%;width:25%;
  z-index:2;pointer-events:none;
}
.slider::before{
  left:0;
  top:0;
}
.slider::after{
  right:0;
  top:0;
  transform:rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 150px;
  height: 60px;

  display: grid;
  place-items: center;
  transition:0.5s;
  cursor:pointer;
}
.slide:hover{
  transform:scale(0.8)
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

